body { 
  background: url("header.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
	margin: 30px;
}

h1 {
	position: absolute;
	color: black;
	top: 200px;
	left: 170px;

}

.btn-primary {
	position: relative;
	top: 400px;
	left: 250px;
}

.btn-primary:hover {
    transform: scale(1.1);
    transition: transform 1s;
}

